
.App {
    margin: 2rem auto;
    max-width: 800px;
}

img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.progessBar{
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding:2px
}

input[type="file"] {
    display: none;
}

.customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fileUpload{

  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 1rem;
}


.upbutton{
   width: 5rem;
   padding: .5rem;
   background-color: #2767e9;
   color: aliceblue;
   font-size: 1rem;
   cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.containerAulaPag {
    display: flex;
    height: 93vh;
}

.containerGraphs {
    flex-wrap: wrap;
    display: inline-flex;
}


.materialContainer {
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.containerRightBracket {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sider {
    background-color: #001529;
}

.containerAula {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.possibleAnswer {
    margin-top: 15px;
    margin-bottom: 5px;
}

.agregarPreguntaContainer {
    display: flex;
    justify-content: space-around;
}
