
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.eraseIcon {
    margin-left: 3px;
}

.materiasContainer {
    display: flex;
    flex-flow: wrap;
}

.errorMessage {
    color: red;
    font-weight: 600;
}